beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
dnspython
Flask
flask-paginate
idna
itsdangerous
Jinja2
MarkupSafe
pymongo
python-dotenv
requests==2.31.0
soupsieve
urllib3==1.26.16
Werkzeug
