<!-- Modal -->
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  aria-labelledby="responseModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-12 d-flex justify-content-center">
          <dotlottie-player
            src="https://lottie.host/2a5138ae-5a9f-41cf-ba78-b51c7d14accd/3xYrsCV0Ya.json"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px"
            direction="1"
            playMode="normal"
            loop
            autoplay></dotlottie-player>
        </div>
        <div class="col text-center">
          <!-- Pesan dari server -->
          <p id="modalMessage"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  aria-labelledby="responseModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-12 d-flex justify-content-center">
          <dotlottie-player
            src="https://lottie.host/e2844399-9b7f-445f-b1cb-a0c276a52d3c/8C2joS4JAA.json"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px"
            direction="1"
            playMode="normal"
            loop
            autoplay></dotlottie-player>
        </div>
        <div class="col text-center">
          <!-- Pesan dari server -->
          <p id="modalMessageE"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="warningModal"
  tabindex="-1"
  aria-labelledby="responseModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-12 d-flex justify-content-center">
          <dotlottie-player
            src="https://lottie.host/a9965936-0f43-4150-8d94-88b109d3b53a/aXmXxc8G1g.json"
            background="transparent"
            speed="1"
            style="width: 200px; height: 200px"
            direction="1"
            playMode="normal"
            loop
            autoplay></dotlottie-player>
        </div>
        <div class="col text-center">
          <!-- Pesan dari server -->
          <p id="modalMessageW"></p>
        </div>
      </div>
    </div>
  </div>
</div>
